%div.row
  %br
  %div{ class: 'small-2 large-2 columns' }= link_to 'Back', :back, class: 'button radius tiny'

%div.row
  %div
    %div{ class: 'small-12 large-12 columns' }
      %table
        %theader
          %tr
            %th{ width: '15%' } Key
            %th{ class: 'center', width: '85%' } Value/Subkeys
        %tbody
          - @callback.contents.each do |key, value|
            %tr
              %td= key
              %td
                - if value.is_a?(Hash)
                  - value.each do |k, v|
                    %div.columns.small-4.large-4= k
                    %div.columns.small-8.large-8= v.nil? ? '.' : v
                - else
                  = value